<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@userInfo.edit.headline">Edit User Info</h1>
    <div>
        <a routerLink="/userInfos" class="btn btn-secondary" i18n="@@userInfo.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@userInfo.id.label" label="Id" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@userInfo.email.label" label="Email" />
    <app-input-row [group]="editForm" field="name" i18n-label="@@userInfo.name.label" label="Name" />
    <app-input-row [group]="editForm" field="mobile" i18n-label="@@userInfo.mobile.label" label="Mobile" />
    <app-input-row [group]="editForm" field="address" i18n-label="@@userInfo.address.label" label="Address" />
    <input type="submit" i18n-value="@@userInfo.edit.headline" value="Edit User Info" class="btn btn-primary mt-4" />
</form>
