<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@userCASDetails.add.headline">Add UserCAS Details</h1>
    <div>
        <a routerLink="/userCASDetailss" class="btn btn-secondary" i18n="@@userCASDetails.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="casType" rowType="radio" [options]="{'DETAILED': 'DETAILED', 'SUMMARY': 'SUMMARY'}" i18n-label="@@userCASDetails.casType.label" label="Cas Type" />
    <app-input-row [group]="addForm" field="fileType" rowType="radio" [options]="{'CAMS': 'CAMS', 'KARVY': 'KARVY', 'UNKNOWN': 'UNKNOWN'}" i18n-label="@@userCASDetails.fileType.label" label="File Type" />
    <app-input-row [group]="addForm" field="userInfo" rowType="select" [options]="userInfoValues" i18n-label="@@userCASDetails.userInfo.label" label="User Info" />
    <input type="submit" i18n-value="@@userCASDetails.add.headline" value="Add UserCAS Details" class="btn btn-primary mt-4" />
</form>
