<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@userCASDetails.list.headline">UserCAS Detailses</h1>
    <div>
        <a routerLink="/userCASDetails/add" class="btn btn-primary ms-2" i18n="@@userCASDetails.list.createNew">Create new UserCAS Details</a>
    </div>
</div>
@if (!userCASDetailses || userCASDetailses.length === 0) {
<div i18n="@@userCASDetails.list.empty">No UserCAS Detailses could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@userCASDetails.id.label">Id</th>
                <th scope="col" i18n="@@userCASDetails.casType.label">Cas Type</th>
                <th scope="col" i18n="@@userCASDetails.fileType.label">File Type</th>
                <th scope="col" i18n="@@userCASDetails.userInfo.label">User Info</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (userCASDetails of userCASDetailses; track userCASDetails.id) {
            <tr>
                <td>{{ userCASDetails.id }}</td>
                <td>{{ userCASDetails.casType }}</td>
                <td>{{ userCASDetails.fileType }}</td>
                <td>{{ userCASDetails.userInfo }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/userCASDetails/edit', userCASDetails.id]" class="btn btn-sm btn-secondary" i18n="@@userCASDetails.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(userCASDetails.id!)" class="btn btn-sm btn-secondary" i18n="@@userCASDetails.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
